img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.gallery-item {
  display: flex;
  flex-basis: calc((100% - 30px) / 3);
  margin: 5px;
}
